---
const { phone, name } = Astro.props;
---

<div>
  <span class="custom text-kalam font-medium"> {name}</span>
  <p class="custom font-light">{phone}</p>
</div>

<style>
  .custom {
    @apply text-lg uppercase;
  }
</style>
