---
import { Image } from "astro:assets";
import { collaborators } from "../constants/collaborators.ts";
---

<section id="collaborators" class="text-cream bg-gray-900 py-16">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        collaborators.map((collaborator) => (
          <div class="flex items-start rounded-lg bg-gray-800 p-6 shadow-lg">
            <div class="mr-4 rounded-full bg-white p-3">
              <Image
                alt="Catering icon"
                class="h-8 w-8 text-secondary"
                id="catering"
                src={collaborator.icon}
              />
            </div>
            <div>
              <a
                href={`https://${collaborator.link}`}
                class="text-lg font-medium text-gray-100 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                {collaborator.name}
              </a>
              <p class="text-gray-300">{collaborator.phone}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
