---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="container mx-auto flex justify-evenly px-4 text-center">
    <p class="mb-2">&copy; {currentYear} Mireia & Rubén's Wedding</p>
    <p>Designed with love for our special day</p>
  </div>
</footer>

<style>
  .footer {
    @apply z-50 max-w-[100dvw] bg-olive py-8 shadow-md transition-colors duration-300 dark:bg-dark;
  }
</style>
