---
import { Logo } from "../icons";
import ThemeToogle from "./ThemeToogle.astro";
import { translations } from "../i18n/translations";
import LanguageSelector from "./LanguageSelector.astro";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<header class="header">
  <div class="header-container">
    <div class="menu-container">
      <nav class="navList">
        {
          Object.entries(t.nav).map(([key, value]) => (
            <a href={`#${key}`} class="navItem text-kalam">
              {value}
            </a>
          ))
        }
      </nav>
      <a href="#" class="logo">
        <div class="triangle"></div>
        <Logo
          class="dark:fill-cream md:left-[calc(50% - 40px)] absolute left-0 top-0 h-28 w-28 fill-dark lg:h-40 lg:w-40"
        />
      </a>

      <div class="options">
        <ThemeToogle />
        <LanguageSelector lang={lang} />
      </div>
    </div>
  </div>
</header>

<style>
  .menu-container {
    @apply flex items-center justify-end md:justify-center;
  }

  .header {
    @apply bg-olive fixed left-0 right-0 top-0 z-50 max-w-[100dvw] bg-opacity-95 shadow-md transition-colors duration-300;
    @apply dark:bg-dark dark:bg-opacity-95;
  }
  .header-container {
    @apply m-auto max-w-screen-xl px-3 py-3 lg:px-6 lg:py-6;
  }
  .navList {
    @apply hidden w-0 md:w-2/5;
    @apply md:flex md:items-center md:justify-between lg:justify-start lg:space-x-8 xl:space-x-10;
  }
  .navItem {
    @apply hover:text-cream text-base font-light text-dark transition-colors duration-300 lg:text-lg;
    @apply dark:text-cream dark:hover:text-leaf;
  }
  .logo {
    @apply flex w-0 items-center justify-center md:w-1/5;
  }
  .triangle {
    @apply border-t-olive absolute top-14 border-[3.2rem] border-b-0 border-x-transparent border-opacity-95;
    @apply right-0 top-14 w-0 transition-colors duration-300 dark:border-t-dark;
    @apply lg:top-20 lg:border-[4.5rem] lg:border-b-0;
    @apply left-[0.3rem] md:left-0 md:me-auto md:ms-auto;
  }
  .options {
    @apply flex w-full items-center justify-end gap-10 md:w-2/5;
  }
</style>
