---
import { Logo } from "../icons";
import ThemeToogle from "./ThemeToogle.astro";
import { translations } from "../i18n/translations";
import LanguageSelector from "./LanguageSelector.astro";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];

const url = import.meta.env.URL;
---

<header class="header">
  <div class="header-container">
    <div class="menu-container">
      <nav class="navList">
        {
          Object.entries(t.nav).map(([key, { text, link }]) => (
            <a href={link} class="navItem text-kalam">
              {text}
            </a>
          ))
        }
      </nav>
      <a href=`/${lang}/` class="logo">
        <div class="triangle common"></div>
        <div class="triangle2 common"></div>
        <Logo
          class="md:left-[calc(50% - 40px)] absolute left-0 top-0 h-28 w-28 fill-dark dark:fill-cream lg:h-40 lg:w-40"
        />
      </a>

      <div class="options">
        <ThemeToogle />
        <LanguageSelector lang={lang} />
      </div>
    </div>
  </div>
</header>

<style>
  .menu-container {
    @apply flex items-center justify-end md:justify-center;
  }

  .header {
    @apply fixed left-0 right-0 top-0 z-50 max-w-[100dvw] bg-olive bg-opacity-95 shadow-md transition-colors duration-300;
    @apply border-b-[1px] border-dark dark:border-cream dark:bg-dark dark:bg-opacity-95;
  }
  .header-container {
    @apply m-auto max-w-screen-xl px-3 py-3 lg:px-6 lg:py-6;
  }
  .navList {
    @apply hidden w-0 md:w-2/5;
    @apply md:flex md:items-center md:justify-between lg:justify-start lg:space-x-8 xl:space-x-8;
  }
  .navItem {
    @apply text-base font-light text-dark transition-colors duration-300 hover:text-cream lg:text-lg;
    @apply dark:text-cream dark:hover:text-olive;
  }
  .logo {
    @apply flex w-0 items-center justify-center md:w-1/5;
  }
  .common {
    @apply absolute left-[0.3rem] right-0 w-0 border-[3.2rem] border-x-transparent transition-colors duration-300;
    @apply md:left-0 md:me-auto md:ms-auto lg:border-[4.5rem];
  }
  .triangle {
    @apply top-14 border-b-0 border-t-olive;
    @apply dark:border-t-dark lg:top-20 lg:border-b-0;
  }
  .triangle2 {
    @apply top-1.5 border-t-0 border-b-olive;
    @apply dark:border-b-dark lg:top-2 lg:border-t-0;
  }
  .options {
    @apply flex w-full items-center justify-end gap-4 md:w-2/5;
  }
</style>
