---
import { translations } from "../i18n/translations";
import Timeline from "./Timeline.astro";

type LanguageCode = "es" | "ca" | "en";
interface Props {
  lang?: LanguageCode;
}
const { lang = "es" }: Props = Astro.props;
const t = translations[lang];
---

<section id="schedule" class="section">
  <div class="section-container">
    <h2 class="heading-2">
      {t.schedule.title}
    </h2>
    <Timeline />
  </div>
</section>

<style>
  .section {
    @apply flex h-[580px] items-start justify-center bg-schedule bg-cover bg-fixed bg-bottom bg-no-repeat py-20 transition-all duration-300;
    @apply lg:h-[50dvw];
    @apply dark:bg-darkSchedule dark:bg-dark;
  }
  .section-container {
    @apply container flex flex-col gap-10;
  }
</style>
