<label class="switch">
  <input id="switch" type="checkbox" />
  <span class="slider">
    <svg class="icon" viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
      >
      </path>
    </svg>
  </span>
</label>

<style>
  .icon {
    @apply absolute bottom-[0.2rem] left-[0.2rem] h-6 w-6 fill-none stroke-dark duration-300 dark:stroke-cream md:left-1 md:stroke-dark md:dark:stroke-dark;
  }

  input:checked + .slider > .icon {
    @apply md:translate-x-7;
  }

  .switch {
    @apply relative h-8 w-8 md:w-16;
  }

  .switch input {
    @apply h-0 w-0 opacity-0;
  }

  .slider {
    @apply absolute bottom-0 left-0 right-0 top-0 cursor-pointer rounded-full border-[1px] border-dark bg-olive duration-300 dark:border-cream dark:bg-dark;
  }

  .slider:before {
    @apply absolute bottom-[0.2rem] left-[0.2rem] h-6 w-6 rounded-full duration-300 content-[""] md:left-1 md:bg-cream;
  }

  input:checked + .slider:before {
    @apply md:translate-x-7;
  }
</style>

<script>
  function switchTheme() {
    document.documentElement.classList.toggle("dark");
    const isDark = document.documentElement.classList.contains("dark");
    localStorage.setItem("darkMode", String(isDark));
  }

  document.addEventListener("DOMContentLoaded", () => {
    const darkMode = localStorage.getItem("darkMode") === "true";
    if (darkMode) document.documentElement.classList.add("dark");
    const themeSwitch = document.getElementById("switch");
    if (themeSwitch) themeSwitch.addEventListener("click", switchTheme);
  });
</script>
