---
import { translations } from "../i18n/translations";
import {
  AppetizerIcon,
  CeremonyIcon,
  LunchIcon,
  PartyIcon,
} from "../icons/index.ts";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<div class="card">
  <div class="line"></div>
  <ul class="list">
    <li class="list-element">
      <span class="time text-kalam">13:00</span>
      <div class="icon-container">
        <CeremonyIcon className="h-7 w-7 fill-black dark:fill-white" />
      </div>
      <span class="event text-kalam">
        {t.schedule.ceremony}
      </span>
    </li>
    <li class="list-element">
      <span class="time text-kalam">14:00</span>
      <div class="icon-container">
        <AppetizerIcon className="h-7 w-7 fill-black dark:fill-white" />
      </div>
      <span class="event text-kalam">{t.schedule.appetizer}</span>
    </li>
    <li class="list-element">
      <span class="time text-kalam">17:00</span>
      <div class="icon-container">
        <LunchIcon className="h-7 w-7 fill-black dark:fill-white" />
      </div>
      <span class="event text-kalam">{t.schedule.lunch}</span>
    </li>
    <li class="list-element">
      <span class="time text-kalam">20:00</span>
      <div class="icon-container">
        <PartyIcon className="h-7 w-7 fill-black dark:fill-white" />
      </div>
      <span class="event text-kalam">{t.schedule.party}</span>
    </li>
  </ul>
</div>

<style>
  .card {
    @apply relative flex items-center justify-center text-center;
    @apply rounded-md md:aspect-square md:w-80;
  }
  .line {
    @apply absolute bottom-8 left-1/2 top-16 w-[1px] bg-dark;
    @apply dark:bg-cream;
  }
  .list {
    @apply space-y-10;
  }
  .list-element {
    @apply mx-auto flex w-64 items-center justify-around;
  }
  .time {
    @apply w-1/3 text-left text-dark;
    @apply dark:text-cream;
  }
  .icon-container {
    @apply z-10 flex w-1/3 items-center justify-center bg-olive p-1 dark:bg-dark;
  }
  .event {
    @apply w-1/3 text-right text-dark;
    @apply dark:text-cream;
  }
</style>
