---
import { Image } from "astro:assets";
import { collaborators } from "../constants/collaborators.ts";
---

<section id="collaborators" class="section">
  <div class="section-container m-48">
    <h3 class="heading-3">¿Quién ha hecho esto possible?</h3>
    <div class="section-content">
      {
        collaborators.map((collaborator) => (
          <div class="flex items-start rounded-lg bg-gray-800 p-6 shadow-lg">
            <div class="mr-4 rounded-full bg-white p-3">
              <Image
                alt="Catering icon"
                class="h-8 w-8 text-secondary"
                id="catering"
                src={collaborator.icon}
              />
            </div>
            <div>
              <a
                href={`https://${collaborator.link}`}
                class="text-lg font-medium text-gray-100 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                {collaborator.name}
              </a>
              <p class="text-gray-300">{collaborator.phone}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .section {
    @apply bg-day2_100_0 flex items-start justify-center border-t-2 border-dark;
    @apply dark:bg-night2_0_100 dark:border-cream border-t-2 border-dark;
  }

  .section-container {
    @apply container flex min-w-[100dvw] max-w-lg flex-col gap-32 rounded-md py-20;
    @apply bg-cover bg-no-repeat;
  }
  .section-content {
    @apply flex flex-wrap items-center justify-center gap-10;
    @aply;
  }
</style>
