<section id="proposal" class="section">
  <div class="video"></div>
</section>

<style>
  .section {
    @apply flex flex-col items-center justify-center bg-leaf dark:bg-sky md:pt-16;
  }
  .video {
    @apply container z-40 -mb-32 flex aspect-video h-64 min-w-full max-w-full object-cover;
    @apply w-auto bg-[url("../assets/young.jpg")] bg-cover bg-top md:min-w-fit md:rounded-md;
    @apply dark:bg-[url("../assets/adult.jpg")] dark:bg-[center_35%];
  }
</style>
