<section id="proposal" class="section">
  <div class="background-blur"></div>
  <div class="video"></div>
</section>

<style>
  .section {
    @apply flex flex-col items-center justify-center bg-leaf dark:bg-sky md:pt-16;
  }
  .video {
    @apply container z-30 -mb-32 flex aspect-video h-64 min-w-full max-w-full object-cover;
    @apply bg-young w-auto bg-cover bg-top md:min-w-fit md:rounded-md;
    @apply dark:bg-adult dark:bg-[center_35%];
  }
  .background-blur {
    @apply relative inset-0 z-40 -mb-64 aspect-video h-64 min-w-full max-w-full bg-dark opacity-20 md:min-w-fit;
  }
</style>
