---
import { Image } from "astro:assets";
import endImage from "../images/end2.jpg";
import { translations } from "../i18n/translations";
import { Man, Woman } from "../icons";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section id="location" class="section">
  <h3 class="heading-3 w-full">¿Cómo hay que ir?</h3>
  <div class="section-container">
    <div class="card">
      <div class="sub-card">
        <Man />
        <ul class="list-disc">
          <li>Con traje lucís aún más guapos</li>
          <li>Acompañado de corbata o pajarita</li>
          <li>Camisa que haga juego.</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="sub-card">
        <Woman />
        <ul class="list-disc">
          <li>Vestidos largos o trajes de pantalón elegantes</li>
          <li>
            En cuanto a los zapatos tened en cuenta que hay césped por todo el
            recinto.
          </li>
          <li>¡Tacones gruesos o bajos serán vuestros mejores aliados!</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<Image class="video" src={endImage} alt="Descripción de la imagen" />

<style>
  .section {
    @apply flex min-w-[100dvw] flex-col items-start justify-center;
    @apply dark:border-cream;
  }
  .section-container {
    @apply container mx-auto flex flex-col items-center gap-16 py-20 md:flex-row;
  }
  .card {
    @apply container mx-4 flex flex-col items-center justify-center gap-4;
  }
  .sub-card {
    @apply flex flex-col items-center justify-start gap-10 rounded-md border-[1px] border-dark p-10;
    @apply h-80 w-[304px] md:w-96;
  }

  .section-content {
    @apply flex flex-col items-center justify-center gap-10;
  }

  .content-1 {
    @apply flex w-full items-end justify-center gap-4;
  }

  .paragraph {
    @apply mb-0 text-pretty text-center font-light text-dark dark:text-gray-300 md:w-80;
  }
</style>
