---
import { translations } from "../i18n/translations";
import CountdownTimer from "../components/CountdownTimer";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section class="section">
  <div class="background-blur"></div>
  <h1 class="heading-1">Mireia & Rubén</h1>
  <div class="box">
    <p class="date">{t.hero.date}</p>
    <p class="location">
      {t.hero.location}
    </p>
    <CountdownTimer
      client:load
      translations={t.countdown}
      styles="text-cream"
    />
  </div>
</section>

<style>
  .section {
    @apply relative flex min-h-dvh flex-col items-center justify-end bg-hero bg-cover bg-top;
    @apply dark:bg-darkHero bg-fixed dark:bg-bottom;
  }
  .background-blur {
    @apply absolute inset-0 z-0 bg-dark opacity-20;
  }

  .box {
    @apply bg-leaf text-cream z-10 w-full rounded-lg bg-opacity-20 p-8 text-center backdrop-blur-sm sm:mb-16 sm:w-auto;
    @appy dark:bg-opacity-50 dark:bg-dark;
  }
  .date {
    @apply mb-2 text-sm font-light sm:text-base;
  }
  .location {
    @apply mb-8 text-lg font-light sm:text-xl;
  }
</style>
