---
import Timeline from "../components/Timeline.astro";
import { translations } from "../i18n/translations";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];

const API_KEY = import.meta.env.API_KEY;
const MAP_PARAMETERS = "q=La+Farinera+Sant+Llu%C3%ADs&maptype=roadmap&zoom=15";
const MAP_BASE_URL = "https://www.google.com/maps/embed/v1/place";
---

<section id="location" class="section">
  <div class="section-container mt-48">
    <div class="card">
      <h3 class="heading-3">¿Dónde se celebrará?</h3>
      <div class="mx-4 flex flex-col items-center justify-center gap-4">
        <p class="paragraph">
          Nos veremos en la antigua farinera de Sant Lluís un lugar encantador
          en el corazón de Figueres
        </p>
        <p class="paragraph">Carrer de Sant Lluís, 17600 Figueres, Girona</p>
        <iframe
          class="rounded-md md:aspect-square md:w-80"
          referrerpolicy="no-referrer-when-downgrade"
          src=`${MAP_BASE_URL}?key=${API_KEY}&${MAP_PARAMETERS}`
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
    <div class="card">
      <h2 class="heading-3">
        {t.schedule.title}
      </h2>
      <div class="mx-4 flex flex-col items-center justify-center gap-4">
        <p class="paragraph">
          La ceremonia dará comienzo a las 13:00h el día 5 de Abril de 2025
        </p>

        <Timeline />
      </div>
    </div>
  </div>
</section>

<style>
  .section {
    @apply bg-day2_0_100 flex min-w-[100dvw] items-start justify-center;
    @apply dark:bg-night2_0_100 dark:border-cream border-t-[1px] border-dark;
  }
  .section-container {
    @apply container flex flex-col gap-16 py-20 md:flex-row;
  }
  .card {
    @apply container flex flex-col justify-between gap-10 bg-cover bg-no-repeat md:w-1/2;
  }

  .section-content {
    @apply flex flex-col items-center justify-center gap-10;
  }

  .content-1 {
    @apply flex w-full items-end justify-center gap-4;
  }

  .paragraph {
    @apply mb-0 text-pretty text-center font-light text-dark dark:text-gray-300 md:w-80;
  }
</style>
