---
import { translations } from "../i18n/translations";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section id="ourStory" class="section">
  <div class="overlay top-overlay"></div>
  <div class="section-container">
    <h2 class="heading-2 section-content">
      {t.ourStory.title}
    </h2>
    <div class="section-content">
      <p class="paragraph">
        {t.ourStory.paragraph1}
      </p>
      <p class="paragraph">
        {t.ourStory.paragraph2}
      </p>
    </div>
  </div>
  <div class="overlay bottom-overlay"></div>
</section>

<style>
  .section {
    @apply bg-day_100_100 flex flex-col items-center justify-center;
    @apply dark:bg-night_0_100 dark:border-cream border-t-2 border-dark;
  }
  .overlay {
    @apply z-20 flex min-h-16 min-w-[50dvw];
  }
  .top-overlay {
    @apply bg-oliveOverlay -mb-16 mr-auto hidden md:flex;
    @apply dark:bg-nightOverlay dark:ml-auto dark:mr-0;
  }
  .bottom-overlay {
    @apply bg-oliveOverlayReverse -mt-16 mr-auto hidden md:flex;
    @apply dark:bg-nightOverlayReverse dark:ml-auto dark:mr-0;
  }

  .section-container {
    @apply container flex min-w-[100dvw] flex-col justify-center gap-20 py-20;
    @apply bg-ourStoryMobile bg-cover bg-fixed bg-center bg-no-repeat transition-all duration-300;
    @apply md:bg-ourStory md:bg-[length:40%] md:bg-local md:bg-[2%_center] lg:bg-[length:30%] xl:bg-[length:25%];
    @apply dark:bg-darkOurStoryMobile dark:md:bg-darkOurStory dark:md:bg-[98%_center];
  }

  .section-content {
    @apply max-w-3xl text-pretty rounded-lg px-6 text-center;
    @apply sm:px-8 md:ml-auto md:mr-5 md:w-3/5 dark:md:ml-5 lg:mx-auto lg:w-2/5;
    @apply dark:lg:mx-auto;
  }

  .paragraph {
    @apply mb-4 text-gray-700 dark:text-gray-300;
  }

  .paragraph:last-child {
    @apply mb-0;
  }
</style>
