<section id="proposal" class="section">
  <video class="video" autoplay loop>
    <source
      src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
      type="video/mp4"
    />
  </video>
</section>

<style>
  .section {
    @apply bg-day_100_0 flex flex-col items-center justify-center pt-16;
    @apply dark:bg-night_0_0;
  }
  .video {
    @apply container z-40 -mb-48 flex h-96 max-w-lg rounded-md border-2 border-dark bg-dark object-cover;
    @apply dark:border-cream dark:bg-cream;
  }
</style>
