<section id="proposal" class="section">
  <div class="section-container">
    <video class="aspect-video h-64 rounded-md" autoplay loop>
      <source
        src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
        type="video/mp4"
      />
    </video>
  </div>
</section>

<style>
  .section {
    @apply bg-day_100_0 flex flex-col items-center justify-center pt-16;
    @apply dark:bg-night_0_0;
  }
  .section-container {
    @apply container -mb-32 flex max-w-lg flex-col gap-20 rounded-md;
    @apply bg-cover bg-no-repeat;
  }
</style>
