---
import src from "../assets/video.mp4";
---

<section id="proposal" class="section">
  <div class="background-blur"></div>
  <video class="video" onloadstart="this.playbackRate = 0.8;" autoplay loop>
    <source src={src} type="video/mp4" />
  </video>
</section>

<style>
  .section {
    @apply flex flex-col items-center justify-center bg-olive;
    @apply dark:bg-dark md:pt-16;
  }
  .video {
    @apply container z-20 -mb-32 flex aspect-video h-64 min-w-full max-w-full object-cover;
    @apply w-auto md:min-w-fit;
  }
  .background-blur {
    @apply relative inset-0 z-40 -mb-64 aspect-video h-64 bg-dark opacity-30;
  }
</style>
