---
import { translations } from "../i18n/translations";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];

const forms: Record<"es" | "ca" | "en", string> = {
  es: "https://docs.google.com/forms/d/e/1FAIpQLSd12uYHbl1J8uUBxaLWX-I6UeKzU-d4lVApSnuavKRXvIoK9w/viewform?embedded=true",
  en: "https://docs.google.com/forms/d/e/1FAIpQLSfeDYkSyMfU7jHUhm_eFboTpxoD0ZoXlrXxXYGK-RaTSalTYQ/viewform?embedded=true",
  ca: "https://docs.google.com/forms/d/e/1FAIpQLSd29IycBceZ3PaNTNUdY2n_JW7vcSx_IpPgBmbtC2WhkBVx9g/viewform?embedded=true",
};
---

<section id={t.register.link.split("#").at(1)} class="section">
  <div class="section-container">
    <h2 class="heading-2">
      {t.rsvp.title}
    </h2>
    <div class="form">
      <iframe src={forms[lang]} class="h-[100dvh] w-[100dvw]"> </iframe>
    </div>
  </div>
</section>

<style>
  .section {
    @apply flex items-start justify-center bg-olive dark:bg-dark;
  }

  .section-container {
    @apply container flex min-w-[100dvw] max-w-lg flex-col gap-10 rounded-md py-20;
    @apply bg-cover bg-no-repeat;
  }

  .form {
    @apply m-auto rounded-lg;
  }
</style>
