---
import { translations } from "../i18n/translations";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section id="register" class="section">
  <div class="section-container">
    <h2 class="heading-2">
      {t.rsvp.title}
    </h2>
    <div class="form">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSd12uYHbl1J8uUBxaLWX-I6UeKzU-d4lVApSnuavKRXvIoK9w/viewform?embedded=true"
        width="640"
        height="1118"
        frameborder="0"
        marginheight="0"
        marginwidth="0">Cargando…</iframe
      >
    </div>
  </div>
</section>

<style>
  .section {
    @apply flex items-start justify-center bg-olive dark:bg-dark;
  }

  .section-container {
    @apply container flex min-w-[100dvw] max-w-lg flex-col gap-10 rounded-md py-20;
    @apply bg-cover bg-no-repeat;
  }

  .form {
    @apply m-auto rounded-lg;
  }
</style>

<script>
  const observer = new MutationObserver(() => {
    const footerButton = document.querySelector(
      '[type="button"][data-qa="fixed-footer-brand-button"]',
    ) as HTMLElement;
    if (footerButton) footerButton.style.display = "none";
  });

  observer.observe(document.body, { childList: true, subtree: true });
</script>
