---
import Form from "../components/Form";
import { translations } from "../i18n/translations";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section id={t.register.link.split("#").at(1)} class="section">
  <div class="section-container">
    <h2 class="heading-2">
      {t.rsvp.title}
    </h2>
    <Form lang={lang} client:only />
  </div>
</section>

<style>
  .section {
    @apply flex items-start justify-center bg-olive dark:bg-dark;
  }

  .section-container {
    @apply container flex min-w-[100dvw] max-w-lg flex-col gap-10 rounded-md py-20;
    @apply bg-cover bg-no-repeat;
  }
</style>
