---
import { translations } from "../i18n/translations";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section id="register" class="section">
  <div class="section-container">
    <h2 class="heading-2">
      {t.rsvp.title}
    </h2>
    <div class="form">
      <div
        data-tf-live="01JHW4Q1R9F4VGAEMBW69GAQZE"
        data-tf-hide-headers
        data-tf-auto-resize="500, 800"
        data-tf-disable-scroll
      >
      </div>

      <script is:inline src="//embed.typeform.com/next/embed.js"></script>
    </div>
  </div>
</section>

<style>
  .section {
    @apply flex items-start justify-center border-t-[1px] border-dark bg-day2_100_0;
    @apply dark:border-cream dark:bg-night2_0_100;
  }

  .section-container {
    @apply container flex min-w-[100dvw] max-w-lg flex-col gap-20 rounded-md py-20;
    @apply bg-cover bg-no-repeat;
  }

  .form {
    @apply m-auto w-[90dvw] rounded-lg shadow-lg;
    @apply sm:w-9/12 xl:w-1/2;
  }
</style>

<script>
  const observer = new MutationObserver(() => {
    const footerButton = document.querySelector(
      '[type="button"][data-qa="fixed-footer-brand-button"]',
    ) as HTMLElement;
    if (footerButton) footerButton.style.display = "none";
  });

  observer.observe(document.body, { childList: true, subtree: true });
</script>
