---
import { translations } from "../i18n/translations";
import Timeline from "../components/Timeline.astro";
import CountdownTimer from "../components/CountdownTimer";

const { lang = "es" }: { lang?: "es" | "ca" | "en" } = Astro.props;
const t = translations[lang];
---

<section id="schedule" class="section">
  <div class="section-container">
    <h2 class="heading-2">
      {t.schedule.title}
    </h2>
    <CountdownTimer client:load translations={t.countdown} />
    <Timeline />
  </div>
</section>

<style>
  .section {
    @apply bg-day2_0_0 flex min-h-[100dvh] flex-col items-center justify-center bg-repeat;
    @apply dark:bg-night_0_100;
  }
  .section-container {
    @apply container flex min-w-[100dvw] flex-col gap-20 py-20;
    @apply dark:bg-night_0_0 bg-cover bg-no-repeat;
  }
</style>
