---
import "../styles/globals.css";
import { translations } from "../i18n/translations";

export interface Props {
  title: string;
  lang?: "es" | "ca" | "en";
}
const { title, lang = "es" }: Props = Astro.props;
const t = translations[lang];
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mireia and Rubén's Wedding Website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <title>{title}</title>
  </head>
  <body
    class="bg-cream font-sans text-gray-800 transition-colors duration-300 dark:bg-gray-900 dark:text-gray-100"
  >
    <slot />
  </body>
</html>

<script>
  interface ExtendedScreenOrientation extends ScreenOrientation {
    lock(orientation: string): Promise<void>;
  }
  const orientation = screen.orientation as ExtendedScreenOrientation;

  orientation.lock("portrait").catch((err) => console.error(err));
</script>
