---
import { translations } from "../i18n/translations";

export interface Props {
  title: string;
  lang?: "es" | "ca" | "en";
}
const { title, lang = "es" }: Props = Astro.props;
const t = translations[lang];
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mireia and Rubén's Wedding Website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <title>{title}</title>
  </head>
  <body
    class="bg-cream font-sans text-gray-800 transition-colors duration-300 dark:bg-gray-900 dark:text-gray-100"
  >
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-gold: #d4af37;
    --color-burgundy: rgb(128, 0, 32);
  }

  .text-gold {
    color: var(--color-gold);
  }
  .text-burgundy {
    color: var(--color-burgundy);
  }

  @font-face {
    font-family: "Brittany Signature";
    src: url("/fonts/BrittanySignature/BrittanySignature.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Kalam";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("/fonts/Kalam/Kalam-Bold.ttf");
  }
  @font-face {
    font-family: "Kalam";
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url("/fonts/Kalam/Kalam-Light.ttf");
  }
  @font-face {
    font-family: "Kalam";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/fonts/Kalam/Kalam-Regular.ttf");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/fonts/RedHatDisplay/RedHatDisplay.ttf");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url("/fonts/RedHatDisplay/static/RedHatDisplay-Light.ttf");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("/fonts/RedHatDisplay/static/RedHatDisplay-Medium.ttf");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url("/fonts/RedHatDisplay/static/RedHatDisplay-SemiBold.ttf");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url("/fonts/RedHatDisplay/static/RedHatDisplay-Bold.ttf");
  }

  @font-face {
    font-family: "Red Hat Display";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url("/fonts/RedHatDisplay/static/RedHatDisplay-Black.ttf");
  }

  .heading-1 {
    font-family: "Brittany Signature", sans-serif, system-ui;
    @apply z-10 m-auto text-5xl text-cream sm:text-7xl md:text-8xl lg:text-9xl;
  }
  .heading-2 {
    font-family: "Kalam", sans-serif, system-ui;
    @apply m-0 text-center text-3xl text-dark dark:text-cream;
    @apply sm:text-4xl md:text-5xl;
  }
  .heading-3 {
    font-family: "Kalam", sans-serif, system-ui;
    @apply m-0 text-center text-2xl text-dark dark:text-cream;
    @apply sm:text-3xl md:text-4xl;
  }

  .text-brittany {
    font-family: "Brittany Signature", "Red Hat Display", sans-serif, system-ui;
  }
  .text-kalam {
    font-family: "Kalam", "Red Hat Display", sans-serif, system-ui;
  }

  * {
    font-family: "Red Hat Display", sans-serif, system-ui;
  }
</style>
